<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/avisoDePrivacidad.css">
    <title>Aviso de Privacidad</title>
</head>
<body>
    <div id="texto">
        <h1><b>Aviso de privacidad integral</b></h1>
        <br>
        <br>
        <br>
        <p>
            Whealthy S.A. de C.V., con domicilio en Mar Mediterráneo 227, Popotla, 11400 Ciudad de México, CDMX Ciudad de México, México y portal de internet www.whealthy2.herokuapp.com, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
        </p>
        <br>
        <br>
        <h3><b>¿Para qué fines utilizaremos sus datos personales?</b></h3>
        <br>
        <p>
            Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
        </p>
        <br>
        <lu>
            <li>
                Prestación de cualquier servicio solicitado.
            </li>
            <li>
                Como medio de contacto secundario para la atención de dudas, quejas o avisos importantes relacionados con el servicio.
            </li>
        </lu>
        <br>
        <br>
        <h3><b>¿Qué datos personales utilizaremos para estos fines?</b></h3>
        <br>
        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos de identificación y contacto:</p>
        <br>
        <lu>
            <li>
                Nombre completo
            </li>
            <li>
                Sexo
            </li>
            <li>
                Estatura
            </li>
            <li>
                Peso
            </li>
            <li>
                Fecha de nacimiento
            </li>
            <li>
                Correo electrónico
            </li>
        </lu>
        <br>
        <br>
        <h3><b>¿Cómo puede acceder, rectificar, cancelar sus datos personales, oponerse a su uso o ejercer la revocación de consentimiento?</b></h3>
        <br>
        <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
        <br>
        <p>Para el ejercicio de cualquiera de los derechos ARCO, debe enviar una petición vía correo electrónico a whealthy.telemedicina@gmail.com y deberá contener:</p>
        <br>
        <lu>
            <li>
                Nombre completo del titular para comunicarle la respuesta a su petición.
            </li>
            <li>
                Correo electrónico usado en este sitio web.
            </li>
            <li>
                Copia de una identificación oficial adjunta u otro documento oficial que demuestre su identidad.
            </li>
            <li>
                La descripción clara y precisa de los datos personales por los que usted solicita ejercer sus derechos.
            </li>
        </lu>
        <br>
        <p>La descripción del objeto escrito, los cuales pueden ser de manera enunciativa más no limitativa los siguientes: Revocación del consentimiento para tratar sus datos personales; y/o Notificación del uso indebido del tratamiento de sus datos personales; y/o Ejercitar sus Derechos ARCO, con una descripción clara y precisa de los datos a Acceder, Rectificar, Cancelar o bien, Oponerse. En caso de Rectificación de datos personales, deberá indicar la modificación exacta y anexar la documentación soporte; es importante en caso de revocación del consentimiento, que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implica que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
        <br>
        <br>
        <h3><b>¿En cuántos días le daremos respuesta a su solicitud?</b></h3>
        <br>
        <p>15 días</p>
        <br>
        <br>
        <h3><b>¿Por qué medio le comunicaremos la respuesta a su solicitud?</b></h3>
        <br>
        <p>Al mismo correo electrónico de donde se envió la petición.</p>
        <br>
        <br>
        <h3><b>El uso de tecnologías de rastreo en nuestro portal de internet</b></h3>
        <br>
        <p>Le informamos que en nuestra página de internet utilizamos cookies, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:</p>
        <br>
        <lu>
            <li>
                Identificadores, nombre de usuario y contraseñas de sesión.
            </li>
            <li>
                Fecha y hora del inicio y final de una sesión de un usuario.
            </li>
        </lu>
        <br>
        <p>Estas cookies pueden ser deshabilitadas. Para conocer cómo hacerlo, consulte el menú de ayuda de su navegador. Tenga en cuenta que, en caso de desactivar las cookies, es posible que no pueda acceder a ciertas funciones personalizadas de nuestro sitio web.</p>
        <br>
        <br>
        <h3><b>¿Cómo puede conocer los cambios en este aviso de privacidad?</b></h3>
        <br>
        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas. Nos comprometemos a mantener actualizado este aviso de privacidad sobre los cambios que pueda sufrir y siempre podrá consultar las actualizaciones que existan en el sitio web www.whealthy2.herokuapp.com.</p>
        <br>
        <br>
        <h3><b><i>Última actualización de este aviso de privacidad: 09/09/2021.</i></b></h3>
    </div>
</body>
</html>