<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Registro</title>
    <link rel="stylesheet" href="./css/rPaciente.css">
</head>
<body>
    <img id="fondo" src="./img/Rectangle 9.svg">
    <img id="regis" src="./img/Registrate en.svg">
    <img id="whealthy" src="./img/WHEALTHY.svg">
    <form name="registroF" onsubmit="return validarRegistroPaciente();" action="/registrarPac" method="post">
        <div id="text-s">
            <input name="NomUsu" type="text" class="ct" id="ct" placeholder="Nombre de usuario">
            <input name="ContraUsu" type="password" class="ct" id="ct2" placeholder="Contraseña">
            <p id="dp">Datos personales</p>
            <input name="CorreoUsu" type="text" class="ct" id="ct3" placeholder="Correo">
            <input name="NombresPac" type="text" class="ct" id="ct4" placeholder="Nombre(s)">
            <span><input name="AppPac" type="text" class="ctp" id="ctp_1" placeholder="Apellido Paterno"></span>
            <span><input name="ApmPac" type="text" class="ctp" id="ctp_2" placeholder="Apellido Materno"></span>
            <br>
            <br>
            <br>
            <span id="links-1"><a href="avisoDePrivacidad.html" class="links">Aviso de Privacidad</a></span>
            <span id="links-2"><a href="terminosCondicionesUso.html" class="links">Politícas con Términos de Uso</a></span>
            <br>
            <br>
            <span id="texto"><input type="checkbox" name="checkboxF"> He leído y acepto las políticas y aviso de privacidad</span>
            <input type="submit" id="Registro" value="Registrarse">
        </div>
    </form>

    <img id="doctora" src="./img/doctor3 1.svg">
    <img id="doctor" src="./img/doctor4 2 (1).svg">

    <!--ALERTS-->

    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Campos vacíos</strong>
    
            <button type="button" id="close-1" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Favor de llenar todos los campos.
        </div>
        </div>
    </div>


    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Correo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Correo</strong>
    
            <button type="button" id="close-2" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Correo inválido, inténtelo de nuevo.
        </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Usuario" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Usuario</strong>
    
            <button type="button" id="close-3" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Usuario existente, inténtelo de nuevo.
        </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Contrasena" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Contraseña</strong>
    
            <button type="button" id="close-4" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Su contraseña debe incluir al menos una mayúscula, minúscula, caracter especial, un número y longitud no menor a 8.
        </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Nombre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Nombre</strong>
    
            <button type="button" id="close-5" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Use mayúscula en las parte correspondiente.
        </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Apellidos" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Apellido</strong>
    
            <button type="button" id="close-6" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Use mayúscula en la parte correspondiente.
        </div>
        </div>
    </div>

    
    <div class="position-fixed bottom-0 end-0 p-3 " id="container-alerts" style="z-index: 11">
        <div id="Box" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header fas fa-exclamation-circle" id="alerta">
            <strong class="me-auto" id="strong"> Checkbox</strong>
    
            <button type="button" id="close-7" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="body">
            Favor de aceptar nuestros términos de uso y políticas de privacidad.
        </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/4782e58f3d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./js/validacionIS.js"></script>
</body>
</html>