<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/terminosCondicionesUso.css" rel="stylesheet">
    <title>Términos y Condiciones de Uso</title>
</head>
<body>
    <div id="texto">
        <h1><b>Términos y condiciones de uso</b></h1>
        <br>
        <br>
        <br>
        <h3><b>Información relevante</b></h3>
        <br>
        <p>Es requisito necesario para la adquisición de las licencias que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestras licencias implica que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas las licencias que son ofrecidas por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir una licencia, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
        <br>
        <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. https://whealthy2.herokuapp.com/casos_exito.html no asume la responsabilidad en caso de que entregue dicha clave a terceros. </p>
        <br>
        <p>Todo uso indebido o inadecuado de la licencia de gestor de usuarios por parte del hospital poseedor de la licencia es responsabilidad y solo responsabilidad del servicio médico que le brinde acceso a nuestra aplicación web.</p>
        <br>
        <p>Los precios de las consultas, medicamentos y atención personalizada serán únicamente responsabilidad del hospital que le brinde acceso a nuestros servicios.</p>
        <br>
        <br>
        <h3><b> Licencia</b></h3>
        <br>
        <p>Binary Code S.A de C.V a través de su sitio web concede una licencia para que los usuarios utilicen los servicios que son ofrecidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.</p>
        <br>
        <br>
        <h3><b>Uso no autorizado</b></h3>
        <br>
        <p>En caso de haber adquirido la licencia de uso para su hospital o servicio personal, no se permite el uso de una misma licencia para múltiples hospitales que no pertenezcan a la misma asociación.</p>
        <br>
        <br>
        <h3><b>Propiedad</b></h3>
        <br>
        <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguna de nuestras licencias, modificada o sin modificar. Todas las licencias son propiedad de nuestra empresa de software. En caso de que no se especifique lo contrario, nuestros servicios se proporcionan sin ningún tipo de garantía, expresa o implícita. En ningún caso esta compañía será responsable de cualquier daño, incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros servicios y licencias.</p>
        <br>
        <br>
        <h3><b>Política de reembolso y garantía</b></h3>
        <br>
        <p>La empresa se hace responsable de fallos en la comunicación del sistema, almacenamiento de archivos y la ejecución errónea de procesos referentes a la funcionalidad del software proporcionado. No nos hacemos responsables de malos usos de los servicios proporcionados.</p>
        <br>
        <br>
        <h3><b>Comprobación antifraude</b></h3>
        <br>
        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas. </p>
        <br>
        <br>
        <h3><b>Privacidad</b></h3>
        <br>
        <p>Este https://whealthy2.herokuapp.com/casos_exito.html garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.</p>
        <br>
        <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.</p>
        <br>
        <br>
        <h3><b><i>Binary Code S.A de C.V reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</i></b></h3>
    </div>
</body>
</html>