
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

html{
    padding: 0%;
    margin: 0%;
}

*{
    padding: 0%;
    margin: 0%;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 700px;
}

#tarjeta{
    position: absolute;
    width: 60%;
    height: 36%;
    margin-left: 20%;
    margin-top: 20%;

    background: #F9F9F9;
    border-radius: 18px;
}

#titulo{
    position: absolute;
    width: 60%;
    margin-top: -5%;
    margin-left: 20%;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    text-align: center;

    color: #000000;
}

.campos{
    position: absolute;
    height: 52px;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 7%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;

    color: #0f0f0f;
}

#fecha{
    margin-left: 7%;
    width: 40.5%;
    margin-top: 9%;
}

#hora{
    margin-left: 52.5%;
    width: 40.5%;
    margin-top: 9%;
}

#selector{
    width: 86%;
    margin-top: 20%;
}

#regresar-de-registrar, #busqueda{
    position: absolute;
    width: 20%;
    height: 37px;
    margin-top: 31.5%;
    padding-top: 1%;
    background: #FBFF37;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #000000;
    border: none;
    text-decoration: none;
}

#regresar-de-registrar{
    margin-left: 25%;
}

#busqueda{
    margin-left: 55%;
}
